@import url("https://fonts.googleapis.com/css?family=Work+Sans:regular,500,600&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

* img {
  max-width: 100%;
}

:root {
  --bg-color: #121B25;
  --accent-color: #1AA090;
  --text-color: #D6D6D6;
}

body {
  font-family: "Work Sans", sans-serif;
  background-color: var(--bg-color);
  position: relative;
  color: #fff;
}
body._lock {
  overflow: hidden;
}

[class*=__container] {
  max-width: 1450px;
  margin: 0px auto;
  padding: 0 15px;
}

/*--------------------------------------------------------------------------*/
/*-------------------------------General-------------------------------------------*/
.title {
  font-weight: 600;
  font-size: clamp(1.875rem, 1.548rem + 1.64vw, 3rem);
  line-height: 1.26;
  text-transform: capitalize;
  color: var(--text-color);
}

.text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.7;
}

/*-------------------------------/General-------------------------------------------*/
/*----------------------------------Header----------------------------------------*/
.header {
  padding: clamp(0.625rem, 0.08rem + 2.73vw, 2.5rem) 0px;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: clamp(0.313rem, 0.04rem + 1.36vw, 1.25rem);
}
.header__logo {
  max-width: 200px;
}
.header__navigation {
  display: flex;
  align-items: center;
  gap: clamp(1.25rem, 0.25rem + 5vw, 4.688rem);
}
.header__buttons {
  display: flex;
  gap: 5px;
}
.header__btn {
  padding: 11px 20px;
  color: white;
  border: 1px solid var(--accent-color);
  background-color: inherit;
  transition: background-color 0.3s;
  cursor: pointer;
}
@media (max-width: 576px) {
  .header__btn {
    padding: 7px 15px;
  }
}

@media (max-width: 992px) {
  .menu {
    position: absolute;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 80%;
    display: flex;
    overflow: auto;
    padding: 20px 0;
    background-color: var(--accent-color);
    transition: left 0.2s;
    z-index: 5;
  }
  .menu._active {
    left: 0;
  }
}
.menu-icon {
  display: none;
}
@media (max-width: 992px) {
  .menu-icon {
    display: block;
    height: 18px;
    width: 30px;
    position: relative;
    cursor: pointer;
    z-index: 5;
  }
  .menu-icon span {
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }
  .menu-icon span:first-child {
    top: 0;
  }
  .menu-icon span:last-child {
    top: auto;
    bottom: 0;
  }
  .menu-icon._active span {
    transform: scale(0);
  }
  .menu-icon._active span:first-child {
    transform: rotate(45deg);
    top: calc(50% - 1px);
  }
  .menu-icon._active span:last-child {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
}
.menu__body {
  display: flex;
  align-items: center;
  gap: clamp(1.25rem, 0.886rem + 1.82vw, 2.5rem);
}
@media (max-width: 992px) {
  .menu__body {
    flex-direction: column;
    margin: auto;
  }
}
.menu__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.2s;
  position: relative;
}
.menu__link:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 3px;
  bottom: -5px;
  background-color: var(--accent-color);
  opacity: 0;
  transition: opacity 0.3s;
}
@media (any-hover: hover) {
  .menu__link:hover {
    color: white;
  }
  .menu__link:hover:before {
    opacity: 1;
  }
}
@media (max-width: 992px) {
  .menu__link {
    line-height: 50px;
    font-size: 30px;
  }
}

@media (any-hover: hover) {
  .login:hover {
    background-color: var(--accent-color);
  }
}
@media (max-width: 425px) {
  .login {
    display: none;
  }
}

@media (any-hover: hover) {
  .register:hover {
    background-color: var(--accent-color);
  }
}
@media (max-width: 445px) {
  .register {
    background-color: var(--accent-color);
  }
}

/*---------------------------------/Header-----------------------------------------*/
/*-----------------------------------Hero---------------------------------------*/
.hero {
  margin-top: clamp(1.25rem, 0.25rem + 5vw, 4.688rem);
  position: relative;
  padding-bottom: clamp(1.25rem, -0.023rem + 6.36vw, 5.625rem);
}
.hero .hero-deco {
  position: absolute;
  right: 0;
  bottom: -152px;
  z-index: -1;
}
@media (max-width: 681px) {
  .hero .hero-deco {
    height: 300px;
    bottom: -106px;
  }
}
.hero__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 992px) {
  .hero__container {
    flex-direction: column;
  }
}
.hero__content {
  flex: 0 0 49.2957746479%;
  padding-bottom: clamp(4.375rem, 2.739rem + 8.18vw, 10rem);
}
.hero__title {
  font-weight: 600;
  font-size: clamp(1.875rem, 1.184rem + 3.45vw, 4.25rem);
  line-height: 1.26;
  text-transform: capitalize;
}
.hero__text {
  margin-top: 18px;
}
.hero__filter {
  height: 100px;
  width: 860px;
  background-color: #fff;
  margin-top: 60px;
  position: absolute;
}
@media (max-width: 992px) {
  .hero__filter {
    width: 100%;
    position: static;
  }
}
.hero__img {
  flex: 0 0 49.2957746479%;
}

/*-----------------------------------/Hero---------------------------------------*/
/*-----------------------------------Filter---------------------------------------*/
.filter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 164px;
  color: #000;
}
@media (max-width: 571px) {
  .filter {
    grid-template-columns: repeat(3, 1fr);
    padding: 5px;
    height: auto;
  }
}
@media (max-width: 475px) {
  .filter {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
.filter__block:nth-child(2) {
  border-right: 1px solid rgb(232, 232, 232);
  border-left: 1px solid rgb(232, 232, 232);
}
.filter__btn {
  padding: 5px;
}
.filter__btn button {
  background-color: var(--accent-color);
  height: 100%;
  width: 100%;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-transform: capitalize;
  color: #fff;
  cursor: pointer;
}
.filter__btn button:active {
  background-color: #121B25;
}
@media (max-width: 571px) and (min-width: 475px) {
  .filter__btn {
    grid-column: 1/4;
  }
}

.block-filter {
  position: relative;
}
.block-filter__button {
  display: flex;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  padding-left: clamp(1.25rem, 0.886rem + 1.82vw, 2.5rem);
}
.block-filter__header {
  display: flex;
  align-items: center;
}
.block-filter__type {
  padding-right: 2px;
  font-size: 16px;
  color: #858585;
}
.block-filter__icon {
  height: 10px;
  width: 7px;
  background: url("../img/icons/Vector.svg") center bottom no-repeat;
  transition: transform 0.2s;
  cursor: pointer;
}
.block-filter__icon._active {
  transform: rotate(180deg);
}
.block-filter__value {
  font-weight: 600;
  font-size: 18px;
  text-transform: capitalize;
  color: var(--bg-color);
}
.block-filter__dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all;
  z-index: 3;
  box-shadow: 0 0 5px 1px #000;
}
.block-filter__dropdown._active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(5px);
}
.block-filter__item {
  padding: 10px;
  transition: background-color 0.3s;
  text-transform: capitalize;
  cursor: pointer;
}
@media (any-hover: hover) {
  .block-filter__item:hover {
    background-color: #858585;
  }
}

/*-----------------------------------/Filter---------------------------------------*/
/*-------------------------------------Featured-------------------------------------*/
.featured {
  padding-top: clamp(1.25rem, -0.023rem + 6.36vw, 5.625rem);
}
.featured__box {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
  overflow: auto;
}
.featured__item {
  flex: 0 0 auto;
}
/*-------------------------------------/Featured-------------------------------------*/