@import url("https://fonts.googleapis.com/css?family=Work+Sans:regular,500,600&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

* img {
  max-width: 100%;
}

:root {
  --bg-color: #121B25;
  --accent-color: #1AA090;
  --text-color: #D6D6D6;
}

body {
  font-family: "Work Sans", sans-serif;
  background-color: var(--bg-color);
  position: relative;
  color: #fff;

  &._lock {
    overflow: hidden;
  }
}

[class*="__container"] {
  max-width: 1450px;
  margin: 0px auto;
  padding: 0 15px;
}

/*--------------------------------------------------------------------------*/

/*-------------------------------General-------------------------------------------*/

.title {
  font-weight: 600;
  font-size: clamp(1.875rem, 1.548rem + 1.64vw, 3rem);
  line-height: 1.26;
  text-transform: capitalize;
}

.text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.7;
  color: var(--text-color);
}

/*-------------------------------/General-------------------------------------------*/



/*----------------------------------Header----------------------------------------*/
.header {
  padding: clamp(0.625rem, 0.08rem + 2.73vw, 2.5rem) 0px;

  // .header__container
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: clamp(0.313rem, 0.04rem + 1.36vw, 1.25rem);
  }

  // .header__logo
  &__logo {
    max-width: 200px;
  }

  // .header__navigation
  &__navigation {
    display: flex;
    align-items: center;
    gap: clamp(1.25rem, 0.25rem + 5vw, 4.688rem);
  }

  // .header__menu
  &__menu {}

  // .header__buttons
  &__buttons {
    display: flex;
    gap: 5px;
  }

  // .header__btn
  &__btn {
    padding: 11px 20px;
    color: #ffff;
    border: 1px solid var(--accent-color);
    background-color: inherit;
    transition: background-color .3s;
    cursor: pointer;

    @media (max-width: 576px) {
      padding: 7px 15px;
    }
  }
}

.menu {
  @media (max-width: 992px) {
    position: absolute;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 80%;
    display: flex;
    overflow: auto;
    padding: 20px 0;
    background-color: var(--accent-color);
    transition: left .2s;
    z-index: 5;

    &._active {
      left: 0;
    }
  }

  // icon
  &-icon {
    display: none;

    @media (max-width: 992px) {
      display: block;
      height: 18px;
      width: 30px;
      position: relative;
      cursor: pointer;
      z-index: 5;

      span {
        transition: all .3s ease 0s;
        top: calc(50% - 1px);
        left: 0;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;

        &:first-child {
          top: 0;
        }

        &:last-child {
          top: auto;
          bottom: 0;
        }
      }

      &._active {
        span {
          transform: scale(0);

          &:first-child {
            transform: rotate(45deg);
            top: calc(50% - 1px);
          }

          &:last-child {
            transform: rotate(-45deg);
            top: calc(50% - 1px);
          }
        }
      }
    }
  }

  // .menu__body
  &__body {
    display: flex;
    align-items: center;
    gap: clamp(1.25rem, 0.886rem + 1.82vw, 2.5rem);

    @media (max-width: 992px) {
      flex-direction: column;
      margin: auto;
    }
  }

  // .menu__item
  &__item {}

  // .menu__link
  &__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    color: var(--text-color);
    text-decoration: none;
    transition: color .2s;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      height: 3px;
      bottom: -5px;
      background-color: var(--accent-color);
      opacity: 0;
      transition: opacity .3s;

    }

    @media (any-hover: hover) {
      &:hover {
        color: #ffff;

        &:before {
          opacity: 1;
        }
      }
    }

    @media (max-width: 992px) {
      line-height: 50px;
      font-size: 30px;
    }
  }
}

.login {
  @media (any-hover: hover) {
    &:hover {
      background-color: var(--accent-color);
    }
  }

  @media (max-width: 425px) {
    display: none;
  }
}

.register {
  @media (any-hover: hover) {
    &:hover {
      background-color: var(--accent-color);
    }
  }

  @media (max-width: 445px) {
    background-color: var(--accent-color);
  }
}

/*---------------------------------/Header-----------------------------------------*/

/*-----------------------------------Hero---------------------------------------*/
.page {}

.hero {
  margin-top: clamp(1.25rem, 0.25rem + 5vw, 4.688rem);
  position: relative;
  padding-bottom: clamp(1.25rem, -0.023rem + 6.36vw, 5.625rem);

  .hero-deco {
    position: absolute;
    right: 0;
    bottom: -152px;
    z-index: -1;

    @media (max-width: 681px) {
      height: 300px;
      bottom: -106px
    }
  }

  // .hero__container
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 992px) {
      flex-direction: column;
    }
  }

  // .hero__content
  &__content {
    flex: 0 0 calc(700 / 1420 * 100%);
    padding-bottom: clamp(4.375rem, 2.739rem + 8.18vw, 10rem);
  }

  // .hero__title
  &__title {
    font-weight: 600;
    font-size: clamp(1.875rem, 1.184rem + 3.45vw, 4.25rem);
    line-height: 1.26;
    text-transform: capitalize;
  }

  // .hero__text
  &__text {
    margin-top: 18px;
  }

  // .hero__filter
  &__filter {
    height: 100px;
    width: 860px;
    background-color: #fff;
    margin-top: 60px;
    position: absolute;

    @media (max-width: 992px) {
      width: 100%;
      position: static;
    }
  }

  // .hero__img
  &__img {
    flex: 0 0 calc(700 / 1420 * 100%);
  }
}

/*-----------------------------------/Hero---------------------------------------*/

/*-----------------------------------Filter---------------------------------------*/

.filter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 164px;
  color: #000;

  @media (max-width: 571px) {
    grid-template-columns: repeat(3, 1fr);
    padding: 5px;
    height: auto;
  }

  @media (max-width: 475px) {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  // .filter__block
  &__block {
    &:nth-child(2) {
      border-right: 1px solid rgba(232, 232, 232, 1);
      border-left: 1px solid rgba(232, 232, 232, 1);
    }
  }

  // .filter__btn
  &__btn {
    padding: 5px;


    button {
      background-color: var(--accent-color);
      height: 100%;
      width: 100%;
      border: none;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      text-transform: capitalize;
      color: #fff;
      cursor: pointer;

      &:active {
        background-color: #121B25;
      }
    }

    @media (max-width:571px) and (min-width: 475px) {
      grid-column: 1/4;
    }
  }

}

.block-filter {
  position: relative;

  // .block-filter__button
  &__button {
    display: flex;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    padding-left: clamp(1.25rem, 0.886rem + 1.82vw, 2.5rem);
  }

  // .block-filter__header
  &__header {
    display: flex;
    align-items: center;
  }

  // .block-filter__type
  &__type {
    padding-right: 2px;
    font-size: 16px;
    color: #858585;
  }

  // .block-filter__icon
  &__icon {
    height: 10px;
    width: 7px;
    background: url('../img/icons/Vector.svg') center bottom no-repeat;
    transition: transform .2s;
    cursor: pointer;

    &._active {
      transform: rotate(180deg);
    }
  }

  // visibility
  &__value {
    font-weight: 600;
    font-size: 18px;
    text-transform: capitalize;
    color: var(--bg-color);
  }

  // .block-filter__dropdown
  &__dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all;
    z-index: 3;
    box-shadow: 0 0 5px 1px #000;

    &._active {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
      transform: translateY(5px);
    }
  }

  // .block-filter__item
  &__item {
    padding: 10px;
    transition: background-color 0.3s;
    text-transform: capitalize;
    cursor: pointer;

    @media (any-hover: hover) {
      &:hover {
        background-color: #858585;
      }
    }
  }
}

/*-----------------------------------/Filter---------------------------------------*/

/*-------------------------------------Featured-------------------------------------*/
.featured {
  padding-top: clamp(1.25rem, -0.023rem + 6.36vw, 5.625rem);
  padding-bottom: clamp(1.25rem, -0.023rem + 6.36vw, 5.625rem);

  // .featured__box
  &__box {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    overflow: auto;
  }

  // .featured__item
  &__item {
    flex: 0 0 auto;
  }
}


/*-------------------------------------/Featured-------------------------------------*/

/*---------------------------------------Popular-----------------------------------*/
.popular {
  background: #1A242F url('../img/icons/background-slider.png') center center/cover no-repeat;
  padding: 160px 0;

  // .popular__container
  &__container {}

  // .popular__title
  &__title {}

  // .popular__slider
  &__slider {
    margin-top: 40px;
  }
}

.popular-slide {
  display: flex;
  flex-direction: column;
  gap: 30px;

  // .popular-slide__thumb
  &__thumb {}

  // .popular-slide__text
  &__text {}

  // .popular-slide__title
  &__title {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 1.26;
  }

  // .popular-slide__desc
  &__desc {

  }

  // .popular-slide__labels
  &__labels {
    display: flex;
    gap: 20px;
  }

  // .popular-slide__label
  &__label {
    display: flex;
    align-items: flex-end;
    gap: 4px;
  }
}

.swiper {}

.swiper-wrapper {
  display: flex;
}

.swiper-slide {}

.slider-buttons {}

.swiper-button-prev {}

.swiper-button-next {}

/*---------------------------------------/Popular-----------------------------------*/